@media screen and (min-width: 1199px) {
	.our-faces__content {
		width: 250px;
	}
}
@media screen and (max-width: 992px) {
	.header-logo {
		justify-content: center;
	}
	.our-story {
		padding-top: 50px;
	}
	.our-story__content {
		text-align: center;
		margin-top: 25px;
	}
	.our-faces__img {
		height: 180px;
	}
	.our-works__item {
		width: 33.33332%;
	}
	.news__form-title {
		text-align: center;
	}
	.news__form-fields {
		text-align: center;
	}
	.our-client__title {
		text-align: center;
		margin-bottom: 30px;
	}
	.footer {
		background-position: 100% 100%, -155px -400px;
	}
	.footer-overlay {
		padding: 40px 0;
	}
	.footer__heading {
		display: flex;
		margin-bottom: 20px;
	}
	.footer-logo {
		height: 50px;
		margin: 0 auto 0 0;
	}
	.footer-text {
		width: 280px;
		margin: 0 auto;
		
	}
	.footer-menu {
		flex-direction: column;
		margin: 0 0 0 auto;
	}
	.footer-menu li a {
		text-align: right;
	}
	.footer-contacts {
		margin-bottom: 40px;
	}
	.footer-stay__title {
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 768px) {
	.main__header {
		margin-bottom: 80px;
	}
	.main__menu-btn {
		display: block;
		position: absolute;
		padding: 23px 10px;
		top: 0;
		right: 0;
		cursor: pointer;
	}
	.menu-btn {
		width: 30px;
		height: 2px;
		margin: auto;
		background-color: #11a3a8;
	}
	.menu-btn:before,
	.menu-btn:after {
		content: "";
		position: relative;
		display: block;
		width: 30px;
		height: 2px;
		background-color: #11a3a8;
		border-radius: 25%;
	}
	.menu-btn:before {
		bottom: 8px;
	}
	.menu-btn:after {
		top: 7px;
	}
	.menu--hidden {
		display: none;
	}
	.menu--visible {
		display: flex;
	}
	.main__menu {
		flex-direction: column;
		margin-top: 20px;
		height: 100%;
    }
	.main__menu li {
		display: inline-block;
		text-align: center;
	}
	.main__menu li + li {
		margin-left: 0!important;
	}
	.main__menu li a:hover,
	.footer-menu li a:hover {
		transform: translateY(0px);
		border-bottom: none;
	}
	.header__slider {
		margin-bottom: 45px;
	}
	.our-team__faces {
		justify-content: space-around!important;
		flex-wrap: wrap;
		margin-bottom: 50px;
	}
	.expert-item {
		width: 100%;
	}
	.our-faces__content:nth-child(1),
	.our-faces__content:nth-child(2) {
		margin-bottom: 20px;
	}
	/*.biography__face-slider a {
		display: none;
	}*/
	.our-client__images a:last-child {
		display: none;
	}
	.news-clients {
    	padding: 40px 0px 40px;
	}
	.footer {
		padding: 65px 0px 10px;
    	background-position: 100% 100%, -155px -230px;
	}
	.footer__heading {
		flex-direction: column;
	}
	.footer-logo {
		margin: 0 auto 20px;
	}
	.footer-text {
		width: auto;
		margin-bottom: 20px;
		text-align: center;
	}
	.footer-menu {
		flex-direction: row;
		width: 100%;
		justify-content: space-around;
		margin-bottom: 20px;
	}
	.footer-stay__form input,
	.footer-stay__form button
	 {
	 	display: block;
		width: 100%;
	}	
	.footer-stay__form input {
		margin-bottom: 20px;
	}
	.footer-stay__social {
		justify-content: center;
	}
}
	
@media screen and (max-width: 576px) {
	body {
		font-size: 12px;
		line-height: 18px;
	}
	h2 {
		font-size: 1.5rem;
	}
	.header-offer {
		padding: 0 1em;
	}
	.header__slider-title {
		font-size: 30px;
	}
	.watch-story__player[height="550px"] {
		height: 400px;
	}
	.our-team {
		padding: 50px 0 50px;
	}
	.our-works__item {
		width: 50%;
	}
	.biography__face-slider {
		justify-content: center;
	}
	.biography__face-slider img {
		margin: 0 5px;
	}
	.footer {
		background-position: 100% 100%, -250px -150px; 
	}
}
@media screen and (max-width: 510px) {
	.header__slider {
		padding-bottom: 60px;
	}
	.team {
		background-position: 100% 100%, center 450px;
	}
	.our-faces__content {
		flex-direction: column;
	}
	.our-faces__content:nth-child(1),
	.our-faces__content:nth-child(2) {
		margin-bottom: 0px;
	}
	.our-faces__content + .our-faces__content {
		margin-top: 20px;
	}
	.biography__text {
		padding: 100px 15px 0;
		margin-bottom: 30px;
	}
	.biography__text::before {
		left: 50%;
	}
	.biography__data {
		padding-top: 15px;
		margin-bottom: 20px;
	}
	.our-client__images a:last-child {
		display: block!important;
	}
}
@media screen and (max-width: 420px) {
	.header {
		background-position: 100% 100%, bottom 0;
	}
	.header__slider {
		min-height: 250px;
	}
	.slider-dots {
		margin: 60px auto 30px; 
	}
	.watch-story__player[height="550px"]{
		max-height: 300px;
	}
	.our-works__heading {
		flex-direction: column;
		justify-content: center!important;
	}
	.our-works__items {
		flex-direction: column;
	}
	.our-works__item {
		width: 100%;
	}

	.biography__face-slider {
		margin-bottom: 30px;
	}
}
@media screen and (max-width: 375px) {
	.header-logo {
		justify-content: flex-start;
	}
	.watch-story__player[height="550px"]{
		height: 250px;
	}
	.our-team__title {
		margin-bottom: 10px;
	}
	.our-team__text {
		padding-bottom: 40px;
	}
    .our-client__images {
		flex-direction: column;
	}
	.our-client__images a {
		margin: 0 auto;
	}
	.biography__face-item:first-of-type {
		display: none;
	}
}
@media screen and (max-width: 320px) {
	.main__menu li + li {
  		margin-top: 10px;
	}
	.header__slider-title:after {
		left: 40%;
	}
	.our-story {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.our-story__logo {
		margin-bottom: 20px;
	}
	.expert-header {
		margin-top: 40px;
	}
	.expert-items {
		padding-top: 0;
		padding-bottom: 50px;
	}
	.our-team__text {
		padding-top: 20px;
		padding-bottom: 40px;
	}
	.our-works__botton {
		padding: 50px 0;
	}
	.biography__face-slider {
		margin-bottom: 20px;
	}
	.news-clients {
    	padding: 40px 0px 40px;
    }

}