/*Specifications*/

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.4px;
    color: #666666;
}
p {
    margin: 0;
}
h2 {
	font-size: 1.6rem;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #413d4b;
    margin-bottom: 0;
}

h3 {
	font-size: 1rem;
	font-weight: 900;
	text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0;
}

ul,
li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

a {
    display: block;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

button {
	position: relative;
    display: inline-block;
    color: #00e0d0;
    border: 1px solid #00e0d0;
    text-transform: uppercase;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 16px;
    padding: 10px 14px;
    background-color: transparent;
    transition: all 300ms ease;
    z-index: 1;
}

.button:before{
    position: absolute;
    content: '';
    width: 0%; height: 100%;
    background: #00e0d0;
    top: 0; left: 50%;
    z-index: -1;
    transition: all 0ms ease;
  }
.button:hover {
	color: white;
}
.button:hover::before { 
	position: absolute;
    content: '';
    width: 100%; height: 100%;
    background: #00e0d0;
    top: 0; left: 0%;
    z-index: -1;
    transition: all 300ms ease;
}

/*First Screen*/

.header {
	padding: 15px 0 65px;
    background-image: linear-gradient( 0deg, rgba(9,5,47,0.8) 0%, rgba(49,29,94,0.8) 100%), url(../img/header-bg-height.png);
    background-position: 100% 100%, -125px -200px;
    background-repeat: no-repeat;
}   

.main__header {
    margin-bottom: 160px;
}

.header-logo__text,
.footer-logo__text {
    padding-left: 10px;
    font-size: 2.1rem;
    font-weight: 100;
    color: #11a3a8;
}
.main__menu-btn {
	display: none;
}
.main__menu {
    justify-content: flex-end;
    margin-top: 15px;  
}
.main__menu li + li {
    margin-left: 20px;
}
.main__menu li a {
    color: #fff;
    font-weight: 900;
    font-size: 0.9rem;
    text-transform: uppercase;
}
.main__menu li a:hover,
.footer-menu li a:hover {
	border-bottom: 1px solid #00e0d0;
	color: #00e0d0;
	transform: translateY(-3px);
    transition: all 200ms ease-in 10ms, border-bottom 200ms ease-out 50ms;
}
.header__slider {
	min-height: 200px;
    color: #fff;
    position: relative;
    display: block;
    padding-bottom: 105px;
}
.header__slider .slick-list {
    overflow: hidden;
}
.header__slider .slick-track {
    display: flex;
    justify-content: center;
}
.header__slider-item {
	position: relative;
	width: 100%;
	height: 100%;
}

.header__slider-title {
    font: 900 32px/1 'Playfair Display', serif;
    margin-bottom: 45px;
}

.header__slider-title:after {
    content: '';
    display: block;
    width: 50px;
    height: 1px;
    background: #00e0d0;
    position: relative;
    left: 46%;
    top: 25px;
}
.header__slider-text {
    margin-bottom: 50px;
}
.slick-dots li {
    width: auto;
    height: auto;
    margin: 0 2.5px;
}
.slick-dots li button {
    margin: 0 auto;
    width: 9px;
    height: 9px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.slick-dots li button:before {
    display: none;
}
.slick-dots li button:hover,
.slick-dots li.slick-active button{
    background-color: #00e0d0;
    border-color: #00e0d0;
}

.our-story {
    background-color: #fff;
    padding: 70px 0;
}
.our-story__logo img:hover{
	animation-name: storyLogo;
	animation-duration: 2s;
	animation-timing-function: cubic-bezier(0,.66,1,.09);
	animation-delay: 0.3s;
}
@keyframes storyLogo{
	
	to{transform: rotate(360deg);}
}
.our-story__title {
    margin-bottom: 20px;
}

.our-story__text {
    margin-bottom: 29px;
}
.watch-story__player {
	display: block;
	width: 100%;
}
.expert {
	padding: 65px 0 70px;
}
.expert-header {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	line-height: 1.5;
    margin-bottom: 70px;
    text-align: center;
}

.expert-head__title {
    margin-bottom: 5px;
}
.expert-header:after {
	content: '';
	display: block;
	position: relative;
	margin: 0 auto;
	top: 18px;
	width: 50px;
	height: 2px;
	background-color: #c6c4c9;
}
.expert-head__text {
    letter-spacing: 0.75px;
    color: #636268;
}
.expert-item {
	width: 310px;
	text-align: center;
	padding-bottom: 45px;
	border-radius: 5%;
}
.expert-item:hover {
	box-shadow: -2px -2px 20px 1px rgba(102, 102, 102, 0.2), 2px 2px 20px 1px rgba(102, 102, 102, 0.2);
	transition: 150ms ease-in-out;
}
.expert-item__img {
    min-height: 115px;
    padding-top: 33px;
}
.expert-item__title {
    color: #413d4b;
    margin-bottom: 15px;
}

.expert-item__text {
    color: #666;
    line-height: 1.5rem;
}

.team {
	padding: 65px 0px 70px;
    background-image: linear-gradient( 0deg, rgba(9,5,47,0.8) 0%, rgba(49,29,94,0.8) 100%), url(../img/CEO-bg-height.png);
    background-repeat: no-repeat;
    background-position: 100% 100%, 50% 50%;
}

.our-team__header {
    text-align: center;
}

.our-team__title {
    color: #fff;
}

.our-team__text {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    padding-bottom: 62px;
    color: #fff;
}

.our-team__faces {
    margin-bottom: 65px;
}

.our-faces__content {
    width: 220px;
    margin: 0 10px;
    text-align: center;
    border: 1px solid #fff;
}

.our-faces__img {
    width: 100%;
    height: 230px;
    background: #fff;
}

.our-faces__name {
    color: #fff;
    padding-top: 15px;
}

.our-faces__exp {
    font-weight: 300;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #afadbc;
    padding-bottom: 20px;
}

.our-team__calling {
    text-align: center;
    color: #fff;
    margin-bottom: 23px;
}

.our-team .botton {
    margin: auto;
    border: none;
    background-color: transparent;
}

.our-works__heading {
    height: 160px;
}

.our-works__heading a {
    color: #413d4b;
    padding-right: 10px;
}

.our-works__heading a:after {
    font-family: "fontello";
    content: '\e803';
    position: relative;
    left: 8px;
}

.our-works__items {
    width: 100%;
    flex-wrap: wrap;
}

.our-works__item {
    width: 16.66666%;
    height: 200px;
    margin: 0;
    padding: 0;
    background: #a1a1a1;
}

.our-works__button {
    padding: 70px 0px;
}

.biography {
    background-image: linear-gradient( 0deg, rgba(9,5,47,0.8) 0%, rgba(49,29,94,0.8) 100%), url(../img/meet-team-bg-height.png);
    background-repeat: no-repeat;
    background-position: 100% 100%, -125px bottom;
}

.biography__text {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 1.15rem;
    line-height: 26px;
    word-spacing: 0.7px;
    color: #fff;
    margin-bottom: 40px;
    padding: 135px 15px 0;
    text-align: center;
}

.biography__text::before {
    content: '\e806';
    font-family: 'fontello';
    font-size: 26px;
    color: #ebeaef;
    position: relative;
    top: -50px;
    left: 45%;
}

.biography__data {
    text-transform: uppercase;
    line-height: 22px;
    text-align: center;
}

.biography__data__name {
    font-weight: 900;
    color: #fff;
    letter-spacing: 1px;
}
.biography__data__expect {
    color: #d5d3dc;
}
.biography-faces {
	padding: 0 30px;
}
.biography__face-slider {
	position: relative;
	width: 100%;
    height: 70px;  
}
.slick-list {
	overflow: hidden;
}
.slick-track {
	display: flex;
}
.biography__face-item {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin: 0 7.5px;
}
.biography-faces .slick-prev,
.biography-faces .slick-next {
	position: absolute;
}
.biography-faces .slick-prev {
	left: 0;
}
.biography-faces .slick-next {
	right: 0;
}
.news-clients {
    padding: 65px 0px 70px;
}

.news__form-title {
    margin-bottom: 30px;
}

.news__form-fields__input {
    width: 100%;
    padding: 15px 20px;
    line-height: 0;
    border: 1px solid #e5e5e5;
    margin-bottom: 21px;
    outline: none;
}

.news__form-fields textarea {
    padding-top: 25px;
    resize: none;
    min-height: 200px;
    color: #413d4b;
}

.news__form-fields .button {
    padding: 8px 30px;
    margin-bottom: 40px;
}

.our-client__title {
    margin-bottom: 5px;
}

.our-client__images {	
    flex-wrap: wrap;
}

.our-client__images a {
	display: flex;
	align-items: center;
	justify-content: center;
    width: 160px;
    height: 85px;
    margin-bottom: 5px;
}
.footer {
	padding: 65px 0px 65px;
    background-image: linear-gradient( 0deg, rgba(9,5,47,0.8) 0%, rgba(49,29,94,0.8) 100%), url(../img/footer-bg-height.png);
    background-repeat: no-repeat; 
    background-position: 100% 100%, -155px -500px;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-text {
    width: 290px;
    line-height: 26px;
    color: #fff;
    margin-bottom: 70px;
}

.footer-menu li a {
    color: #fff;
    text-transform: uppercase;
    line-height: 26px;
}

.footer-contacts {
    color: #fff;
}

.footer-contacts__title {
    font-size: 15px;
    margin-bottom: 35px;
    color: #fff;
}

.footer-contacts__icons {
    padding: 0px 52px 0px 40px;
}

.footer-contacts__adress {
    letter-spacing: 25%;
    line-height: 26px;
    margin-bottom: 20px;
}

.footer-contacts__adress:before {
    content: '\e805';
    font-family: "fontello";
    font-size: 19px;
    position: absolute;
    left: 35px;

}

.footer-contacts__phone:before {
    content: '\e801';
    font-family: "fontello";
    font-size: 18px;
    position: absolute;
    left: 32px;
}

.footer-stay__title {
    font-size: 15px;
    margin-bottom: 35px;
    color: #fff;
}

.footer-stay__form {
    margin-bottom: 27px;
    cursor: pointer;
}

.footer-stay__form input {
    border: 1px solid #9f98b1;
    color: #9f98b1;
    padding: 12px 25px 12px 15px;
    margin-right: 10px;
    background-color: inherit;
}

.footer-stay__form button {
    text-align: center;
    min-width: 70px;
    background-color: #9f98b2;
    border: none;
}

.footer-stay__form button:after {
    font-family: "fontello";
    content: '\e800';
    color: #0c0b0d;
    font-size: 30px;
}

.footer-stay__social {
    margin-bottom: 75px;
}
.footer-stay__social a ~ a {
	margin-left: 15px;
} 
.stay__social {
    padding: 5px;
    font-size: 15px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
}

.footer-stay__credits {
    color: #fff;
}
.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
}
.modal--show {
    display: block;
}
#modal:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -moz-linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    background-image: -webkit-linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(9,5,47) 0%, rgb(49,29,94) 100%);
    opacity: 0.8;
    z-index: 1;
}
.modal-content {
    width: 300px;
    height: 300px;
    background-color: #fff;
    margin: 100px auto;
    padding: 100px 20px;
    text-align: center;
    font-size: 1.5rem;
    color: #413d4b;
    z-index: 3;
}
.modal-content__close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
}
.modal-content__close input {
	display: none;
}
.modal-close {
	position: relative;
	margin-bottom: 0;
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    z-index: 4;
}
.modal-close:before,
.modal-close:after {
    content: "";
    display: block;
    position: relative;
    
    width: 20px;
    height: 3px;
    background-color: #413d4b;
    z-index: 10;
}
.modal-close:before {
    transform: rotate(-45deg);
}
.modal-close:after {
    transform: rotate(45deg);
}